<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap" rel="stylesheet">
  <!-- tab icon -->
  <link rel="shortcut icon" href="assets/img/news-icon.png" />
  <title>Scraper News Network</title>
</head>

<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Scraper News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/scrape">Scrape</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clearall">Clear Articles</a>
      </li>
    </ul>
   
  </div>
</nav>

  <main>
    
    <div class="container">
      {{{ body }}}
    </div>
  </main>

 <footer class="topnav">
  <div class="footer-copyright">
    <div class="container">
      All articles belong to <a href='https://www.theverge.com' target="_blank">the Verge</a>
    </div>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
<html>